.adno {
  width: 5%;
}

.name {
  width: 25%;
}

.sex {
  width: 5%;
}

.classs {
  width: 10%;
}

.payable {
  width: 13%;
}

.paid {
  width: 10%;
}

.bal {
  width: 13%;
}

.actions {
  width: 19%;
}

.actions,
.adno,
.bal,
.classs,
.name,
.paid,
.payable,
.sex {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: 7.5px;
  line-height: 30px;
  overflow: hidden;
  max-height: 30px;
}

.studenttablerow {
  display: flex;
  border-right: 1px solid black;
  font-size: 16px;
  background: rgb(255, 255, 255);
}

.table {
  max-height: 61.3vh;
  background: white;
  overflow-y: scroll;
  width: calc(100% + 1.6%);
}

.exportexcel button{
  position: fixed;
  right: 20px;
  bottom: 15px;
  font-size: 20px;
  padding: 2px 10px;
  cursor: pointer;
  color: white;
  background: rgb(63, 63, 63);
}