.payno {
  width: 7.5%;
}

.date {
  width: 12.5%;
}

.by {
  width: 22.5%;
}

.classss {
  width: 12.5%;
}

.amounts {
  width: 13%;
}

.balancee {
  width: 13%;
}

.actionsss {
  width: 19%;
}

.payno,
.date,
.by,
.classss,
.amounts,
.balancee,
.actionsss {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding-left: 7.5px;
  line-height: 30px;
  overflow: hidden;
  max-height: 30px;
}

.lastrow {
  padding: 2px 10px;
  border-bottom: 1px solid black;
  border-left: lpx solid black;
  width: 100%;

}