.viewpaymentmain {
    margin-top: 10vh;
    position: absolute;
}

.viewpaymentpage {
    width: 496px;
    height: 696px;
    background: white;
    border: 1px solid rgb(96, 96, 96);
}

.letterhead {
  width: 100%;
  height: 180px;  
}

.letterhead img {
    width: 100%;
    height: 100%;
}

.writing .recieptheader {
    padding: 10px 0;
}

.writing .recieptheader h1{
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.writing .studentinfo {
    padding: 0px 10px 15px 20px;
}

.boxofdetails {
  width: 95%;
  min-height: 220px;
  height: auto;
  margin: auto;
  border: 1px solid black;
  display: flex;
}

.boxofdetails  .feesdiv{
 width: 67%;  
 border-right: 1px solid black;
}

.boxofdetails  .feesdiv .feesbox {
    display: flex;
}

.boxofdetails  .feesdiv .feesbox .left {
    border-right: 1px solid black ;
    flex-basis: 50%;
    padding: 2px 5px;
}

.boxofdetails  .feesdiv .feesbox .right {
    flex-basis: 50%;
    padding: 2px 5px;
}

.boxofdetails  .feesdiv .totalbox {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    height: 50px;
}

.head {
    border-bottom: 1px solid black;

}

.authbox {
  width: 95%;
  margin: 10px auto;
  border: 1px solid rgb(75, 75, 75);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: none;
  min-height: 100px;
}

.authbox .a {
    flex-basis: 45%;
    padding: 10px 10px;
}

.others {
    padding-left: 10px;
    padding-top: 10px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.others .amtpaid {
    border-bottom: 1px solid black;
    font-weight: bold;
}