.sidebarclass {
  padding-top: 30px;
  width: 250px;
  min-height: 100vh;
  color: white;
  background: #192023 ;
}

.sidebarclass .identitydiv {
  display: flex;
  align-items: center;
  padding: 25px 10px;
  gap: 15px;
  background: rgb(85, 24, 34);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.sidebarclass .imagediv {
   width: 60px;
   height: 50px;
}

.sidebarclass .imagediv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sidebarclass .schoolnamediv h2 {
  font-weight: 400;
  width: 100%;
  margin: auto;
  font-size: 20px;
}

.sidebarclass .navigation {
  font-size: 20px;
}

.sidebarclass .navigation ul {
  padding: 0;
}

.sidebarclass .navigation ul li:nth-child(2) {

}

.sidebarclass .navigation ul li{
  display: flex;
  gap: 30px;
  line-height: 50px;
  align-items: center;
  padding-left: 25px;
  cursor: pointer;
}

.sidebarclass .navigation ul li:hover {
  background: rgba(0, 0, 0, 0.834);
}

.copyright {
  position: absolute;
  bottom: 2.5px;
  left: 10px;
}

