.stats {
  width: auto;
  padding: 0 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statcard {
  width: 20%;
  min-width: 240px;
  text-align: center;
}

.statcard .colorbox {
  width: 100%;
  height: 70px;
  border-radius: 0px;
  font-size: 30px;
  background: rgb(139, 139, 139);
}

.statcard h2
 {
  font-weight: 500;
}

.schooldistribution h1{
  font-size: 30px;
}

.t {
  font-size: 20px;
}