body {
  background: rgba(239, 239, 239, 0.974);
}

.face {
  display: flex;
}

.tools {
  position: fixed;
  display: flex;
  font-size: 25px;
  right: 10px;
  top: 5px;
  z-index: 999;
}

.tools div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.tools div:hover {
  background: green;
}

.topsection {
  background: white;
  height: 50px;
}

.sidebarsection {
  position: fixed;
}

.viewsection {
  padding: 40px 20px;
  background: rgba(239, 239, 239, 0.974);
  width: 100%;
  margin-left: 250px;
  min-height: 87.7vh;
}

.settingsModal {
  position: absolute;
  background: #192023 ;
  color: white;
  width: 200px;
  height: 300px;
  right: 30px;
  top: 50px;
  border-radius: 10px;
  padding: 10px;
}

